body {
    text-align: center;
}

.resDiv {
    padding: 5px;
    border: 2px solid black;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

#back {
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 2em;
    padding: 5px;
}